/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Italianno', cursive;
}
/* Header e navegação */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'logo nav nav';
    background-color: rgb(82, 82, 82);
    position: fixed;
    max-height: 100px;
    width: 100%;
}
.logo-area{
    grid-area: logo;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-area figure img {
    width: 150px;
}
.logo-area a{
    font-family: 'Italianno', cursive;
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
nav{
    grid-area: nav;
}
.nav-items{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10%;
}
.nav-items:last-child{
    margin-right: 10px;
    flex-wrap: nowrap;
}
.link-nav-items{
    text-decoration: none;
    font-size: 40px;
    color: #FFFF;
}
/* Pagina principal */
#main{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: 'shows cinema teatro';
    height: 100vh;
    font-family: 'Italiana', cursive;
    display: none;
}
.link-sessao{
    text-decoration: none;
    color: black;
    font-size: 40px;
    transition: font-size .3s ease-in-out;
    text-align: center;
    font-style: italic;
}
.link-sessao:hover{
    font-size: 56px;
    color: #FFFF;
}
/* Paginas abertas */
/* Aba Shows */
.shows{
    --fundo-shows: rgb(75, 60, 115, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fundo-shows);
}
.showsAberto{
    
    width: 100%;
    height: 100vh;
    background: rgb(75, 60, 115, 0.8);
    padding-top: 6rem;
}
.showsAberto-header h1, .cinemaAberto-header h1, .teatroAberto-header h1{
    text-align: center;
    padding: 0;
    margin-top: 20px;
    font-family: 'Italianno', cursive;
    font-size: 70px;
}
.showsAberto-header button, .cinemaAberto-header button, .teatroAberto-header button{
    border: none;
    width: 100px;
    height: 35px;
    background-color: #1B1232;
    border-radius: 20px;
    color: white;
    margin: 20px;
    position: fixed;
    left: 10px;
    top:100px;
    font-size: 32px;
}
.showsAberto-header button:hover, .cinemaAberto-header button:hover,.teatroAberto-header button:hover{
    background-color: white;
    color: #1B1232;
}
.primeira-linha, .segunda-linha{
    display: flex;
    padding: 55px;
    justify-content: center;
    gap: 10%;
}
.primeira-linha{
    margin-top: 40px;
}
.card-artista{
    width: 300px;
    min-width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .1s ease-in-out;
    animation: cards 1s ease-in;
}
.card-artista:hover, .card-teatro:hover, .card-cinema:hover{
    padding: 20px;
}
.card-artista-img img{
    width: 100%;
    max-height: 220px;
}
.card-artista-nome{
    background-color: #080707;
    margin-top: 10px;
    width: 90%;
    text-align: center;
}
/* Mudando a cor dos nomes */
.billie{
    color: #F6CF41;
}
.beyonce{
    color: #9C5454;
}
.rosalia{
    color: #890000;
}
.rbd, .taylor{
    color: #FFFF;
}
.coldplay{
    color: #F029A3;
}
/* Aba Cinema */
.cinema{
    --fundo-cinema:rgb(26, 75, 217,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fundo-cinema);
}
.cinemaAberto{
    display: none;
    background: #4CB7E5;
    height: 100vh;
    width: 100%;
    padding-top: 5.5rem;
}
.card-cinema{
    width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
    animation: cards 1s ease-in;
}
.card-cinema-img img{
    width: 100%;
    height: 400px;
    min-height: 400px;
}
.card-cinema-nome{
    color: white;
    background-color: #080707;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}
/* Aba teatro */
.teatro{
    --fundo-teatro: rgb(240, 41, 163, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fundo-teatro);
}
.teatroAberto{
    display: none;
    background: rgb(240, 41, 163, 0.8);
    height: 100vh;
    width: 100%;
    padding-top: 5.5rem;
}
.card-teatro{
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    align-items: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
    animation: cards 1s ease-in;
}
.card-teatro-img img{
    width: 100%;
    border-radius: 20px;
}
.card-teatro-nome{
    color: white;
    background-color: #080707;
    width: 90%;
    text-align: center;
    margin-top: 10px;
}
/* Modal */
.modal-img{
    width: 350px;
}
.modal-img img{
    width: 100%;
}
.modal-close {
    width: 30px;
    height: 30px;
    border:none;
    background-color: #1B1232;
    color: white;
    font-size: 1.5rem;
    position: relative;
    right: -40px;
    top: 10px;
    border-radius: 5px;
}
.modal-close:hover{
    background-color: white;
    color: #1B1232;
    border: solid 2px #1B1232;
}
.input-login, .input-singup{
    width: 100%;
    border-radius: 20px;
    background-color: rgb(30, 26, 38, .95);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Italiana';
}
.input-login:hover, .input-singup:hover{
    background-color: white;
    color: rgb(30, 26, 38, .95);
    font-weight: bold;
    border: 2px solid rgb(30, 26, 38, .95);
}
.input-login{
    margin-bottom: 20px;
}
.modal-body h2{
    font-size: 1.5rem;
    font-family: 'Italiana';
    color: black;
}
/* Animações */
@keyframes transicao {
    from {
        width:30%;
    }
    to{
        width: 100%;
    }
}
@keyframes cards {
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
