body{
    background-color: var(--bg-shows);
}
.container-shows{
    display: flex;
    flex-direction: column;
}
.container-shows-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
  padding: 0 10%;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  gap: 20px;
  margin-top: 50px;
}
.card-artista{
    width: 20rem;
    margin-top: 30px;
    background-color: black;
    animation: cards 1s ease-in;
}
.card-artista img{
    height: 230px;
}
.card-body{
    font-family: var(--josefin);
    padding: 1rem;
}
.card-body h5{
    font-size: 2rem;
}
/* Mudando a cor dos nomes */
.billie{
    color: #F6CF41;
}
.beyonce{
    color: #9C5454;
}
.rosalia{
    color: #890000;
}
.rbd{
    color: #da0d0d;
}
.blackpink{
    color: lightpink;
}
.taylor{
    color: darkgray;
}
