@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --italiano: 'Italianno', cursive;
  --italiana: 'Italiana', cursive;
  --josefin: 'Josefin Sans', sans-serif;
  --bg-shows: rgb(75, 60, 115, 0.8);
  --bg-cinema: rgb(26, 75, 217,0.8);
  --bg-series: rgb(240, 41, 163, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--italiano);
}
.container-global {
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header"
    "main";
  min-height: 100vh;
}
.container-fluid {
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #f5d556;
  text-decoration: none;
}
h1, h5{
  margin: 0;
}
article{
  cursor: pointer;
  padding: 2px;
  transition: all .3s ease-in;
}
article:hover{
  background-color: white;
  scale: 1.05;
}
article:hover .card-body h5{
  color: black;
}
@keyframes cards {
  0%{
      transform: scale(0.1);
      opacity: 0;
  }
  60%{
      transform: scale(1.1);
      opacity: 1;
  }
  100%{
      transform: scale(1);
  }
}