header {
    grid-area: header;
    z-index: 1;
    min-height: 80px;
  }
  main {
    grid-area: main;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo nav nav";
    background-color: rgb(82, 82, 82);
  }
  .logo-area {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-area figure img {
    margin-left: -5px;
    width: 70px;
    transform: rotate(15deg);
  }
  .logo-area a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
  }
  nav {
    grid-area: nav;
    margin-right: 10%;
  }
  .nav-items {
    display: flex;
    height: 100%;
    gap: 10%;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }
  .link-nav-items {
    text-decoration: none;
    font-size: 40px;
    color: #ffff;
  }