/* .modal-img{
    width: 350px;
}
.modal-img img{
    width: 100%;
} */
.modal-close-login {
    width: 30px;
    height: 30px;
    border:none;
    background-color: #1B1232;
    color: white;
    font-size: 1.5rem;
    position: relative;
    border-radius: 5px;
}
.modal-close-cadastro {
    width: 30px;
    height: 30px;
    border:none;
    background-color: #1B1232;
    color: white;
    font-size: 1.5rem;
    position: relative;
    right: -90px;
    top: 10px;
    border-radius: 5px;
}
.modal-close-login:hover, .modal-close-cadastro:hover{
    background-color: white;
    color: #1B1232;
    border: solid 2px #1B1232;
}
.input-login, .input-singup, .input-cadastro{
    width: 100%;
    border-radius: 20px;
    background-color: rgb(30, 26, 38, .95);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Italianno', cursive;
}
.input-login:hover, .input-singup:hover, .input-cadastro:hover{
    background-color: white;
    color: rgb(30, 26, 38, .95);
    font-weight: bold;
    border: 2px solid rgb(30, 26, 38, .95);
}
.input-login{
    margin-bottom: 20px;
}
.input-text{
    font-family: 'Italiana';   
    font-weight: 600;
}
.modal-body h2{
    font-size: 1.5rem;
    
    color: black;
}